@page "/"

<div class="portfolio-content">
    <HomeSection />
    <AboutSection />
    <SkillsSection />
    <ExperienceSection />
    <ProjectsSection />
    <HomelabSection />
    <EducationSection />
    <ContactSection />
</div>
